*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url("https://cdn.pixabay.com/photo/2017/07/25/10/37/woman-2537564_1280.jpg");
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width:150px;
    position: relative;
    top:4%;
    left: 4%;;
}
.banner-text{
    text-align: center;
    margin-top: 200px;
    color: white;
}
.banner-text h1{
    font-size: 120px;
    font-family: "Dancing Script", cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.btn a{
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: .5px solid #fff;
    margin: 55px 18px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.btn a span{
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
.btn a:hover span{
    width: 100% ;
}
.btn a:hover{
    color: #000;
}
#navbar{
    height: 100vh;
    width: 250px;
    background-color: #009688;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transition: 0.5s;
}
#navbar ul li{
    list-style: none;
    margin: 50px 20px;
}
#navbar ul a{
    text-decoration: none;
    color: #fff;
}
#menubar{
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #009688;
    text-align: center;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 3;
    border-radius: 3px;
    cursor: pointer;
}
#menubar i{
    width: 20px;
    margin-top: 25px;
    margin-right: 5px;
}
.feature{
    width: 100%;
    margin:70px 0;
}
@media screen and (max-width: 770px) {
    .banner-text h1{
        font-size: 40px;
        margin: 5px;
    }
    .btn a{
        display: block;
        margin:20px auto;
    }
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    color: #009688;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#009688,#fff);
    position: absolute;
    top:-20px;
    left:0;
    z-index: -1;
    transform: rotate(10deg);
    border-radius: 35px 0px 35px 0px;
}
.title-text h1{
    font-size: 50px;
}
.features-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #009688;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    color: #009688;
    font-weight: 100;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-icon i{  
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 10px;
    color: #009688;
    border: 1px solid #009688;
}
.features-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width: 770px) {
    .title-text h1{
        font-size: 30px;
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
    }
}
#service{
    width: 100%;
    padding:70px 0;
    background-color: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    height: 400px;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor: pointer;
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-des{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-des p{
    font-size: 14px;
}
.single-service:hover .service-des{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width: 770px) {
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .single-service img{
        height: 300px;
    }
    .service-des p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-des{
        bottom: 34% !important;
    }
}
#testimonials{
    width:100%;
    padding: 70px 0;
}
.testimoial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimoial-col{
    flex-basis: 28%;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 10px 20px gray;
    cursor: pointer;
    transition: .5s;
   
}
.testimoial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info i{
    margin-left: 3px;
    font-size: 15px;
    color: #27c0ff;
}
.user-info small{
    color: #009688;
}
.testimoial-col:hover{
    transform: translateY(-10px);
}
@media screen and (max-width: 770px) {
    .testimoial-col{
        flex-basis:100%;
    }
}
#footer{
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}
.footer-row{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left i, .footer-right i{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    height: 200px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top:25%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .fa-brands{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    color: #009688;
    margin:10px;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa-brands:hover{
    background: #009688;
    color: #fff;
    transform: scale(1.15);
}
.social-links p{
    font-size: 15px;
    margin-top: 20px;
}
.social-links .fa-regular{
    margin: 5px;
}
@media screen and (max-width: 770px) {
    .footer-img{
        top:15%;
    }
    .footer-row{
        display: block;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
        text-align: center;
    }
}